.border{
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  padding: 3em;
  text-align: center;
}
.title,h1{
  margin: auto;
  width: 50%;
  text-align: center;
  vertical-align: text-top;
}


#grid {
  display: grid;
  height: 100px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 100px;
}

.graph {
  display:block;
  width: 800px;
  height: fit-content;
}

.graph caption {
  display: block;
	font:bold 150%/120% arial,helvetica,sans-serif;
	padding-bottom:0.33em;
}

.graph head{
  display: block;
  text-align: center;
}

.graph tbody{
  text-align: center;
  width: auto;
  height: auto;
  margin: 3em 0 10em 0em; /* top right bottom left */
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(2em,1fr));
  column-gap: 1em;
}

.graph tr{
  text-align: center;
  margin:inherit;
  border: 2px solid black;
  border-radius: 5px;
  height: 100%;
}

.graph td{
  margin: auto;
  text-align: center;
  color: white;
}

.item1{
  background-color: red;
}

.item2{
  background-color: blue;
}

.item3{
  background-color: yellow;
}

.item4{
  background-color: green;
}