.border{
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  padding: 3em;
  text-align: center;
}
.title,h1{
  margin: auto;
  width: 50%;
  text-align: center;
  vertical-align: text-top;
}


.graph {
  display:block;
  width: 800px;
  height: 600px;
}

.graph caption {
  display: block;
	font:bold 150%/120% arial,helvetica,sans-serif;
	padding-bottom:0.33em;
}

.graph head{
  display: block;
  text-align: center;
}

.graph tbody{
  bottom: 10px;
  text-align: center;
  align-items: end;
  width: auto;
  height: auto;
  margin: 150px 0 3em 0em; /* top right bottom left */
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(2em,1fr));
  column-gap: 1em;
  background:repeating-linear-gradient(
    180deg,
    rgba(170,170,170,0.7) 0,
    rgba(170,170,170,0.7) 1px,
    transparent 1px,
    transparent 20%
  );
}

.graph thead{
  margin-bottom: 20px;
}

.graph tr{
  display: block;
  position: relative;
  text-align: center;
  margin:inherit;
  border: 2px solid black;
  border-radius: 5px;
}

.graph td{
  margin: auto;
  text-align: center;
  color: white;
}

.item1{
  background-color: red;
  height: 100%;
}

.item2{
  background-color: blue;
  height: 85%;
}

.item3{
  background-color: yellow;
  height: 50%;
}

.item4{
  background-color: green;
  height: 25%;
}